/* Colors */
$font-color: #9c9c9c;
$orange-color: #f58220;
$grey-color: #e3e3e3;
$links-color: #496c84;
$body-color: #f3f3f1;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$font: 'Montserrat', sans-serif;