.box-container {

        .add-button {
            display: flex;
            justify-content: center;
            padding: 20px 0;
        }
    
        .add {
            border: none;
            border-radius: 5%;
            background-color: $orange-color;
            color: #fff;
            padding: 10px 20px;
            cursor: pointer;
         }

        .links-table {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            
            table {
                padding: 0;
                border-spacing: 0;
                border-collapse: collapse;
                border-top: 2px solid $grey-color;

                tr {
                    border-bottom: 2px solid $grey-color;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    &:hover {
                        background-color: $grey-color;
                        cursor: pointer;

                        .icons-operations {
                            opacity: 1;
                        }
                    }

                }                
                    td {
                        width: 300px;
    
                        p {
                            margin-left: 15px;
                        }
                        
                        a {
                            text-decoration: none;
                            color: $links-color;
                            font-weight: normal;
                            margin-left: 15px;
                        }
                    }
                    .icons-operations {
                        width: 80px;
                        opacity: 0;
                        
                       .icon-links {
                           &::before {
                               margin: 0 5px 0 0;
                               color: $orange-color;
                           }
                       }
                    }
                }
            }
}


