.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #191919;
    transition: .2s;

    .sidebar-header {
        min-height: 30px;
        padding: 10px 20px;

        img {
            text-align: left;
            height: 24px;
            margin: 10px;
        }

        .hamburger {
            float: right;
            cursor: pointer;
            padding: 10px;

            .bar {
                width: 25px;
                height: 3px;
                background-color: #fff;
                margin-bottom: 5px;
                transition: 0.4s;
            }
        }
    }

    .sidenav {
        margin: 0;
        padding: 5px 0 40px 0;

        a {
            width: 100%;
            display: flex;
            padding: 0.8em;
            justify-content: left;
            text-decoration: none;
            font-weight: lighter;
            color: $font-color;
            border-left: 4px solid #191919;
            &:hover {
            background-color: #7F7F7F;
            color: #FFF;
            border-left: 4px solid orange;
            }
            &::before {
            margin: 0 20px 0 10px;
            }
        }
    }

    .manager {
        padding: 30px 20px;
        border-top: 2px solid #333333;

        h2 {
            margin: 0;
            padding: 0;
        }

        .manager-foto {
            width: 100%;
            padding: 25px 0 0 0;
            display: flex;
            justify-content: left;

            .status-indicator {
            background-clip: padding-box;
            background-color: #04ae00;
            border: none;
            border-radius: 50%;
            height: 12px;
            position: absolute;
            width: 12px;
            margin: 0px -5px 0 45px;
            }

            img {
                height: 45px;
                object-fit: cover;
                border-radius: 50%;
                padding: 0 10px;
            }

            p {
                color: $links-color;
            }
        }
    }

    .header-menu {
        visibility: hidden;
    }
}

@media (max-width: 768px) {

  .sidebar:not(.visible) {
    left: -200px;

    .sidebar-header .hamburger {
      position: fixed;
      left: 5px;
      top: 5px;

      .bar {
          background-color: #000;
      }

    }
  }
    .sidebar .header-menu {
        visibility: visible;
        display: flex;
        flex-direction: column;
        align-items:center;
        list-style-type: none;
        margin: 0;
        color: $font-color;
        padding: 5px 0;
        border-top: 2px solid #333333;

            .navigation-header {
            padding: 0;


        li {
            display: flex;
            justify-content: center;
            align-items:center;
            padding: 10px 0;
            }

            .quit {
                padding: 0 20px;
            }

            a {
                display: flex;
                justify-content: center;
                color: $font-color;
                text-decoration: none;
                &::before {
                    margin: 0 20px;
                }
            }

            .icon-wallet {
                font-weight: 600;
                font-size: 1em;
            }
            
            .profile {
                display: flex;
                justify-content: space-evenly;

                a {
                    color: $links-color;
                    font-size: 0.8em;
                    font-weight: lighter;
                }
            }
            
            
            .notification-indicator {
                background-clip: padding-box;
                background-color: $orange-color;
                border: none;
                border-radius: 50%;
                height: 6px;
                width: 6px;
                position: absolute;
                margin: -5px 0 0 5px;

            }
        }
    }
        }